@model LabCRUDTask.Models.Student
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<style>

    .center_div {
        margin: 0 auto;
        width: 40% /* value of your choice which suits your alignment */
    }
</style>

<div class=" container center_div">
    <h2>Register New Student</h2>
    <h3>@ViewBag.Message</h3>
    <form action="/Students/Create" method="post">

        <input type="hidden" name="Id" value="@Model.Id">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="Enter student name">
        </div>

        <div class="form-group">
            <label>Department</label>
            <select class="form-control" name="Dept_id">
                <option value="@Model.Dept_id" selected></option>
                <option value="1">CSE</option>
                <option value="2">EEE</option>
                <option value="3">BBA</option>
            </select>
        </div>
        <div class="form-group">
            <label>Credit</label>
            <input type="text" class="form-control" name="Credit" value="@Model.Credit" placeholder="100">
        </div>
        <div class="form-group">
            <label>CGPA</label>
            <input type="text" class="form-control" name="CGPA" value="@Model.CGPA" placeholder="4.00">
        </div>

        <div class="form-group">
            <label>Date Of Birth</label>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" name="DOB" value="@Model.DOB" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Update</button>
    </form>

</div>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: "DD/MM/YYYY hh:mm:ss"

            });
        });
    </script>
}

