@model List<LabCRUDTask.Models.Student>
@{
    ViewBag.Title = "PopulateTable";
}


<h2>PopulateTable</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Date of Birth</td>
            <td>Credit</td>
            <td>CGPA</td>
            <td>Department</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.DOB</td>
            <td>@item.Credit</td>
            <td>@item.CGPA</td>
            <td>@item.Dept_id</td>
            <td class="btn bg-success"> <a href="/Students/Edit/@item.Id">Edit</a></td> &nbsp;
            <td class="btn bg-danger"> <a href="/Students/Delete/@item.Id">Delete</a></td>
        </tr>
        }

    </tbody>

</table>

